#Carousel {
   width: 61.8%;
   position: absolute;
   overflow:hidden;
   right: 19.1%;
   border-radius: 2px;
   box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.el-carousel__item {
   position: absolute;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
}

.el-carousel__item:nth-child(4n) {
   background-image: url(../../../src/assets/img/首页轮播图/1.jpg);
   background-size: 100%;
   background-position: center;
}

.el-carousel__item:nth-child(4n+1) {
   background-image: url(../../../src/assets/img/首页轮播图/2.jpg);
   background-size: 100%;
   background-position-y: 60%;
}

.el-carousel__item:nth-child(4n+2) {
   background-image: url(../../../src/assets/img/首页轮播图/3.jpg);
   background-size: 100%;
   background-position-y: 60%;
}
.el-carousel__item:nth-child(4n+3) {
   background-image: url(../../../src/assets/img/首页轮播图/4.jpg);
   background-size: 100%;
   background-position-y: 80%;
}