#Form {
  position: fixed;
  top: 16%;
  left: 78%;
  height: 800px;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#Form span {
  margin-bottom: 40px;

}

#Form input {
  width: 300px
}

#Form .subBtn {

  background-color: transparent;
  /* 鼠标放上来变小手 */
  cursor: pointer;
  border: none;

  position: relative;
  top: 60px;
  right: 40px;

}

#Form .subBtn:hover {
  /* 向上移动 */
  transform: translateY(-15px);
  /* 延迟 贝塞尔曲线 */
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.565, 1.55);
}

.el-tag + .el-tag {
  margin-left: 20px;
  cursor: pointer;
}
.el-tag{
  cursor: pointer;
  width: 90px;
}
/* 增加标签的按钮 */
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
  border: 1px solid rgb(117, 172, 230);
  border-radius:3px;
  color:rgba(14, 166, 24, 0.713);
  cursor: pointer;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  cursor: pointer;
}